@import "abstrat/mixin";
@import "base/reset";
@import "base/tipografia";
@import "components/cards";
@import "layout/form";
@import "components/faq";
@import "layout/header";
@import "layout/navigation";
@import "layout/footer";


#servi {
    .conteinerServicios {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;

        .tarjeta {
            @include tamanio (250px,200px);
            background-color: #4775D1;
            box-shadow: 10px 15px 20px grey;
            border-radius: 15px;
            padding: 0px;
            margin-top: 20px;
            margin: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            

            h3 {
                margin-bottom: 10px;
            }

            p {
                font-size: 12px;
            }

            &:hover {
                background-color: rgb(124, 146, 255);
                width: 300px;
                height: 250px;
            }
        }
    }
}