.formularioDecontacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 500px;
    padding-top: 50px;
    margin-bottom: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 260px;
    padding: 8px;
    margin-bottom: 15px;
    transition: all 2s;
    
}
input:focus {width: 360px; font-size: 20px;}

.boton {
    @extend input;
    border-radius: 5px;
    background-color: #6f93dc;
    color: rgb(255, 255, 255);
    &:hover{background-color: rgb(61, 134, 198);
    border: #052341;}
    margin-bottom: 100px;
}
