ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    display: grid;
    grid-template-areas: "header header header header"
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer";
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #8498c2;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 1023px) {
    footer {
        grid-area: footer;
        display: flex;
        flex-direction: nowrap;
        align-items: baseline;
        align-content: space-between;
        padding: 50px;
        background-color: rgb(190, 188, 188);
        width: 100%;
        color: #033E8C;
        position: relative;

        a {
            color: black;
        }

        .menuFooter {
            margin: 20px;
        }

        iframe {
            margin-top: 5px;
            @include tamanio (200px, 100px);
        }

        .imagenredes {
            @include tamanio (30px, 30px);
        }
    }

    form {
        padding-top: 250px;
    }

    .imagenredes {
        display: flex;
        flex-direction: row;
    }

    .FOTOPERFIL {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #main-novedades {
        grid-template-columns: 1fr;
    }
    
}

@media screen and (max-width: 500px) {
    

    body {
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }

    footer {
        padding: 20px;
        /* Adjust the padding for better spacing on smaller screens */
        flex-direction: column;
        /* Stack items in the footer vertically on smaller screens */

        .menuFooter {
            margin: 10px;
            /* Adjust margin for better spacing */
        }

        iframe {
            width: 100%;
            /* Make the map iframe take full width on smaller screens */
            height: 200px;
            /* Adjust the height for better visibility */
        }
    }


}