h1 {
    color: #033E8C;
    margin-bottom: 30px;
    font-size: 30px;
    margin-left: 10px;
}

Div p {
    margin: 20px;
}

footer h2 {
    text-align: justify;
    position: absolute;
    top: 15px;
    margin-bottom: 40px;
    margin-left: 20px;
}

article h3 {
    text-align: center;
}